@import 'tailwindcss';
.font-cursive {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}


.exo-2-400 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jura-400 {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}